.to-do-list {
  max-width: 600px;
  margin: auto;
  padding-top: 50px;

  &__list-group {
    margin: 0;
    padding: 0;

    &-item {
      padding: 5px 0;
      margin: 5px 0;
      border-bottom: 1px solid #000;
    }
  }

  &__input-group {
    margin-bottom: 20px;
  }

  &__error {
    color: #ff0000;
  }
}
