<div class="to-do-list">
  <h1>{{ 'TITLE' | translate }}</h1>
  <div class="to-do-list__input-group mb-3">
    <input type="text"
           [(ngModel)]="newTask"
           class="form-control mb-2"
           placeholder="{{ 'ADD_TASK.PLACEHOLDER' | translate }}"
           aria-label="Task">
    <button class="btn btn-primary"
            (click)="addTask()">{{ 'ADD_TASK.BUTTON' | translate }}</button>
  </div>
  <div *ngIf="errorMessage"
       class="to-do-list__error alert-danger"
       role="alert">
    {{ errorMessage }}
  </div>
  <ul class="to-do-list__list-group">
    <li *ngFor="let task of tasks; let i = index"
        class="to-do-list__list-group-item d-flex justify-content-between align-items-center">
      {{ task }}
      <button class="btn btn-danger btn-sm"
              (click)="deleteTask(i)">{{ 'DELETE_BUTTON' | translate }}</button>
    </li>
  </ul>
</div>
